@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    color: white;
  background-color: #081b29;

}
.header{
    width: 100%;
    position: fixed;
    display: flex;
    background: transparent;
    justify-content: space-around;
    align-items: center;
    top: 0;
    padding: 20px 10% 0 0;
    left: 0;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    text-decoration: none;
    font-weight: 900;
    color:#FEEBE7 ;
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 1px;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showright 1s ease forwards;
    animation-delay: 2s;
}
.navbar a{
    position: relative;
    margin-left: 45px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color:#FEEBE7 ;
    transition: .3s;

}
.navbar a:hover,
.navbar a:active
{
    color: #00abf0;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 22px;
    left: 0;
    width: 0%;
    height: 10%;
    background: white;
    border-radius: 10px;
    transition: .5s;
}
.navbar a::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 125%;
    height: 100%;
    background: #081b29;
    animation: showright 1.2s ease forwards;
    animation-delay: 2.8s;
}
.navbar a:hover::before{
    width: 100%;
}
.home {
    height: 100vh;
    background-image: url("images/photo_2026-01-01_22-39-15.jpg");
    filter: drop-shadow(0 0 40px rgba(0, 150, 255, 0.4));
    background-repeat: no-repeat;
    background-position: top ;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0px 8%;
}
.home-content{
    min-width: 650px;
}
.home-content h1{
    position: relative;
    font-size: 50px;
    font-weight: 700;
    color: white;
    line-height: 1.2;
    letter-spacing: 1.5px;
}
.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showright 1.2s ease forwards;
    animation-delay: 1s;
}
.home-content h1 span{
    text-shadow: 2px 2px 10px #00abf0;
    font-weight: 900;
    letter-spacing: 1px;
}
.home-content h3{
    position: relative;
    font-size: 33px;
    font-weight: 700;
    color: #00abf0;

    }
.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showright 1.2s ease forwards;
    animation-delay: 1.3s;
}

.home-content p{
    position: relative;
    font-size: 16px;
    color: white;
    margin:15px 0 40px 0 ;
}
.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showright 1.2s ease forwards;
    animation-delay: 1.5s;
}
.home-content .btn-home{
    position: relative;
    display: flex;
    width: 345px;
    height: 50px;
    justify-content: space-between;
}
.home-content .btn-home::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showright 1.1s ease forwards;
    animation-delay: 1.3s;
    z-index: 2;
}
.btn-home a{
    width: 150px;
    height: 100%;
    display: inline-flex;
    position: relative;
    background-color: #00abf0;
    border-radius: 15px;
    border: 3px solid #00abf0;
    font-size: 14px;
    text-transform: uppercase;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    /* padding: 15px 17px; */
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}
.btn-home a:hover{
    color: #00abf0;
}

.btn-home a::before{
    content:  '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 0.5s;
}
.btn-home a:hover::before{
    width: 100%;
}
.btn-home a:nth-child(2){
    background: transparent;
    color: #00abf0;
}
.btn-home a:nth-child(2)::before{
    background: #00abf0;
}
.btn-home a:nth-child(2):hover{
    color: #081b29;
}

.home-sci{
    width: 170px;
    display: flex;
    position: absolute;
    bottom: 50px;
    justify-content: space-between;
}
.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showright 1.2s ease forwards;
    animation-delay: 2s;
    z-index: 2;
}
.home-sci a{
    width:40px;
    height: 40px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 3px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;


}
.home-sci a::before{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00abf0;
    transition: .5s;
    z-index: -1;
    

}
.home-sci a:hover::before{
    width: 100%;

}
.home-sci a:hover{
    color: #081b29;
}
.home-imgHover{
    width: 730px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: 3s;
    background: transparent;
    z-index: 100;
} 
.home-imgHover::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 125%;
    height: 100%;
    background: #081b29;
    animation: showright 1.2s ease forwards;
    animation-delay: 2.8s;
}
 .home-imgHover:hover{
    bottom: 0px;
    background: #081b29;
    opacity: .8;

}
/* ANIMATIONS */
@keyframes showright{
    100%{
        width: 0%;
    }
}
